{% extends 'base.html' %}


{% block content %}
	<main>
		<section id="view">
			{% for i in range(400) %}
				<div class="block" id="block_{{ i // 20 }}-{{ i % 20 }}"></div>
			{% endfor %}
		</section>
		<section id="controls">
			<div id="controller">
				<div id="tabs">
					<ul>
						<li><a href="#search-images">Search Images</a></li>
						<li><a href="#browse-images">Browse Images</a></li>
						<li><a href="#edit-blocks">Edit Blocks</a></li>
					</ul>
					<div id="search-images">
						{% include "game/drop-options.html" %}
						<div id="search-bar">
							<input id="pixabay-search" data-page="1" placeholder="search images" />
							<label>vector:</label><input type="checkbox" id="search-vector" />
							<button id="search-pixabay">search</button>
						</div>
						<div id="pixabay-results"></div>
					</div>
					<div id="browse-images">
						{% include "game/drop-options.html" %}
					</div>
					<div id="edit-blocks"></div>
				</div>
			</div>
			{% include "auth/log.html" %}
		</section>
	</main>
{% endblock %}