html, body, main {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

main {
	display: flex;
	flex-direction: row;
}


#view {
	height: min(70vw, 100vh);
	width: min(70vw, 100vh);
	background: black;
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	gap: none;
}

.block {
	width: 5%;
	height: 5%;
	margin: 0;
	border: 1px dotted white;
	z-index: 0;
}

.ui-draggable {
	z-index: 1;
}


#controls {
	height: 100vh;
	width: 30vw;
	flex-grow: 1;
	background: whitesmoke;
	box-sizing: border-box;
	cursor: default;
	display: flex;
	flex-direction: column;
}

#controller {
	height: 95%;
}

#search-images {
	display: flex;
	flex-direction: column;
}

#search-bar {
	width: 100%;
	padding: 0.15rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#search-bar label, #search-bar input {
	font-size: 0.9rem;
	display: flex;
	align-items: center;
	margin: 0.1rem;
	font-style: italic;
}

#pixabay-search {
	padding: 0.05rem;
	font-size: 0.9rem;
	background: white;
	flex-grow: 1;
}

#pixabay-search:focus {
	outline: none;
}

#search-vector {
	font-size: 2rem;
}

#search-pixabay {
	padding: 0.1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background: #EBEDEF;
}

#search-pixabay:hover {
	background: black;
	color: white;
}

#search-pixabay:active {
	outline: 2px solid blue;
}

#pixabay-results {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-wrap: wrap;
	gap: none;
	padding: 0.15rem;
	justify-content: space-around;
	height: calc(min(70vw, 100vh) - 15vh);
	overflow: auto;
}

.pixabay-result {
	width: calc(30vw / 3.18);
	height: calc(30vw / 3.18);
	background-size: contain !important;
	background-repeat: no-repeat !important;
}

.pixabay-result.over {
	background: lightyellow;
}

.pixabay-result:hover {
	cursor: grab;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor, #pixabay-search {
	font-size: 1.75vh;
}

.ui-tabs .ui-tabs-panel {
	padding: 0.2rem !important;
}

.ui-widget.ui-widget-content {
	padding: 0 !important;
}

.ui-tabs .ui-tabs-nav, #log, #search-bar {
	height: 5vh;
}

#tabs {
	height: 100%;
}

#log {
	justify-self: flex-end;
	background: slategray;
	color: lawngreen;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-indent: 0.15rem;
	font-size: 0.75rem;
	font-family: Andale Mono;
}