html, body, main {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

main {
	display: flex;
	flex-direction: row;
}


#view {
	height: min(70vw, 100vh);
	width: min(70vw, 100vh);
	background: black;
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	gap: none;
}

.tile {
	width: 5%;
	height: 5%;
	margin: 0;
	border: 1px dotted rgba(255, 255, 255, 0.3);
	z-index: 0;
	font-size: 0.5rem;
	color: rgba(255, 255, 255, 0.3);
	display: flex;
	align-items: center;
	user-select: none;
	justify-content: center;
}

.tile.over {
	background: aliceblue;
}

.ui-draggable-handle.dragging {
	z-index: 1;
	opacity: 0.5;
}


.table, .thead, .tr, .th, .td {
	display: flex;
	gap: 0;
	margin: 0;
}

.table, .thead, .tr {
	width: 100%;
}

.td.image {
	width: 30%;
	background-size: contain;
    background-repeat: no-repeat;
    width: 5vw;
    height: 5vw;
}

.table {
	flex-direction: column;
	gap: 0;
	margin: 0;
}

.thead {
	flex-direction: column;
}

.tr {
	flex-direction: row;
}

.th, .td {
	width: calc(100% / 3);
	align-items: center;
	justify-content: start;
	padding: 0.1rem;
	overflow: hidden;
}

#controls {
	height: 100vh;
	width: 30vw;
	flex-grow: 1;
	background: whitesmoke;
	box-sizing: border-box;
	cursor: default;
	display: flex;
	flex-direction: column;
}

#controller {
	height: 95%;
}

#search-images {
	display: flex;
	flex-direction: column;
}

#search-bar, #href-input-bar {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 5vh;
}

#search-bar label,  #image-browse-select {
	display: flex;
	align-items: center;
	font-style: italic;
}

#pixabay-search {
	background: white;
	flex-grow: 1;
	border: 1px solid gray;
    border-radius: 2px;
}

#pixabay-search:focus {
	outline: none;
}

#search-vector {
	font-size: 2rem;
}

#href-input-bar button {
	width: 5rem;
	margin: 0.1rem;
}

#href-input-bar input {
	flex-grow: 1;
}

#image-browse {
	width: 100%;
	height: 5vh;
	display: flex;
	align-items: center;
}

#image-browse-select {
	width: 100%;
}

.button {
	background: slategray;
	color: lawngreen;
	font-size: 0.8rem;
	padding: 0.25rem;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

.button:active {
	background: black !important;
}

#image-browse-results {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-wrap: wrap;
	gap: none;
	padding: 0.15rem;
	justify-content: space-around;
	height: calc(70vh - 0.3rem);
	overflow: auto;
}

.pixabay-result {
	width: calc(30vw / 3.18);
	height: calc(30vw / 3.18);
	background-size: contain !important;
	background-repeat: no-repeat !important;
}

.pixabay-result.saved {
	border: 2px solid lawngreen;
}

.pixabay-result.over {
	background: lightyellow;
}

.pixabay-result:hover {
	cursor: grab;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	font-size: 1.75vh;
	color: lawngreen;
	background: slategray;
	border: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active, 
.ui-button.ui-state-active:hover {
	border: none !important;
}

.ui-tabs-active .ui-tabs-anchor {
	background: black !important;
	border: none;
}

.ui-tabs .ui-tabs-panel {
	padding: 0.2rem !important;
}

.ui-tabs .ui-tabs-nav {
	display: flex;
	align-items: end;
}

.ui-widget.ui-widget-content {
	padding: 0 !important;
}

.ui-tabs .ui-tabs-nav, #log, #search-bar {
	height: 5vh;
}

.drop-options {
	width: 100%;
	height: 5vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.drop-options * {
	font-size: 0.75rem !important;
	margin: 0 0.1rem;
	text-align: center;
}

.drop-options input {
	width: 3rem;
}

.x-repeat, .x-dir {
	background: aliceblue;
	border: 1px solid gray;
}

.y-repeat, .y-dir {
	background: pink;
	border: 1px solid gray;
}

.drop-options > div {
	display: flex;
	align-items: center;
}

.drop-options > div input {
	text-align: center;
}

#tabs {
	height: 100%;
}

#log {
	justify-self: flex-end;
	align-items: center;
	background: #EBEDEF;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-indent: 0.15rem;
	font-size: 0.75rem;
	font-family: Andale Mono;
}

#log button.button {
	border: none;
	background: slategray;
	color: lawngreen;
	width: 10%;
	font-size: 1vw;
}
#log p {
	width: 100%;
	justify-content: space-around;
	margin: 0;
}

#log p, #log p div {
	display: flex;
	align-items: center;
}

#log p div strong {
	font-family: cursive;
	margin-right: 0.5rem;
}

#log p div span {
	color: blue;
}

#log-out {
	margin-right: .5rem !important;
}


.block {
	position: absolute;
}

.block:hover {
	border: 2px dotted yellow;
}

.block.editing {
	border: 2px dotted red;
}

#edit-block {
	background: aliceblue;
	width: 100%;
	height: calc(100vh - 10vh);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

#edit-block .inputs {
	width: 100%;
	height: calc(100% - 5vh);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#edit-block .applications {
	width: 100%;
	height: 5vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	background: #c5c5c5;
}

.applications button {
	margin: 0.1rem;
}

#edit-block section {
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
}

#edit-block-css {
	width: 100%;
	flex-grow: 1;
	margin: 0;
}

#apply-block-edits {

}


#delete-block {
	width: 4rem;
}

#block-css {
	width: 100%;
	height: 100%;
	background: black;
	color: white;
	font-family: Andale Mono;
	cursor: text;
	margin: 0;
	font-size: 1rem;
	border: 2px solid lawngreen;
	overflow: auto;
}

#block-css.invalid {
	border: 2px solid red;
}

#block-css:active, #block-css:focus-visible {
	outline: none;
}

#edit-block-css-control {
	width: 100%;
	height: 30%;
	background: slategray;
	align-items: end;
	justify-content: start;
	padding: 0.15rem;
}

#block-image-edit-area {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 0;
	background: black;
}

#block-image-container {
	position: absolute;
    /* top: 3vw; */
/*    height: calc(50vh - 5vh) !important;*/
    width: 57%;
    left: 50%;
    z-index: 1;
    overflow: hidden;
}

#block-image {
	width: 100%;
	height: 100%;
}

#block-image-edit-area .object-area-preview {
	background: rgba(0, 0, 0, 0.15);
	border: 0.5px solid white;
	box-sizing: border-box;
	margin: 0.15rem;
	width: calc(100% / 7 - .3rem);
}

#block-image-edit-area .object-area-preview:hover {
	background: rgba(0, 0, 100, 0.1);
} 

#block-image-edit-area .object-area-preview.selected {
	background: rgba(0, 0, 255, 0.5);
}

.object-area-preview {
	z-index: 2;
}

.object-area {
	position: absolute;
	z-index: 999;
	margin: 1px;
	background: rgba(255, 0, 0, 0.333);
}

#block-type-edit > div {
	display: flex;
    justify-content: space-around;
}

#block-type-edit > div > label,
#block-type-edit > div > input {
	width: 50%;
	border: none;
}

#block-type-edit > div > input {
	background: white;
}

#view-options {
	position: absolute;
	background: rgba(0,0,0,0.05);
	left: 1vw;
	top: 1vh;
	display: flex;
}

#view-options * {
	background: transparent;
	border: none;
	color: white;
}


@media (max-width: 1093px) {
	.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
		font-size: 1.05vw;
	}
	.drop-options input {
		width: 2rem;
	}
	#log p div strong {
		display: none;
	}
}

@media (max-width: 1000px) {
	.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
		font-size: 1vw;
	}

	.drop-options label {
		display: none;
	}
}









