html, body, main {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

main {
	display: flex;
	flex-direction: row;
}


#view {
	height: min(70vw, 100vh);
	width: min(70vw, 100vh);
	background: black;
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	gap: none;
}

.block {
	width: 5%;
	height: 5%;
	margin: 0;
	border: 1px dotted white;
	z-index: 0;
}

.block.over {
	background: aliceblue;
}

.ui-draggable-handle.dragging {
	z-index: 1;
	opacity: 0.5;
}


#controls {
	height: 100vh;
	width: 30vw;
	flex-grow: 1;
	background: whitesmoke;
	box-sizing: border-box;
	cursor: default;
	display: flex;
	flex-direction: column;
}

#controller {
	height: 95%;
}

#search-images {
	display: flex;
	flex-direction: column;
}

#search-bar {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#search-bar label, #search-bar input {
	font-size: 0.9rem;
	display: flex;
	align-items: center;
	margin: 0.1rem;
	font-style: italic;
}

#pixabay-search {
	font-size: 0.9rem;
	background: white;
	flex-grow: 1;
}

#pixabay-search:focus {
	outline: none;
}

#search-vector {
	font-size: 2rem;
}

#search-pixabay {
	background: slategray;
	color: lawngreen;
	font-size: 0.8rem;
	padding: 0.25rem;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

#search-pixabay:active {
	background: black;
}

#pixabay-results, #image-browse-results {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-wrap: wrap;
	gap: none;
	padding: 0.15rem;
	justify-content: space-around;
	height: calc(min(70vw, 100vh) - 20vh);
	overflow: auto;
}

.pixabay-result {
	width: calc(30vw / 3.18);
	height: calc(30vw / 3.18);
	background-size: contain !important;
	background-repeat: no-repeat !important;
}

.pixabay-result.saved {
	border: 2px solid lawngreen;
}

.pixabay-result.over {
	background: lightyellow;
}

.pixabay-result:hover {
	cursor: grab;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	font-size: 1.75vh;
	color: lawngreen;
	background: slategray;
	border: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active, 
.ui-button.ui-state-active:hover {
	border: none !important;
}

.ui-tabs-active .ui-tabs-anchor {
	background: black !important;
	border: none;
}

.ui-tabs .ui-tabs-panel {
	padding: 0.2rem !important;
}

.ui-tabs .ui-tabs-nav {
	display: flex;
	align-items: end;
}

.ui-widget.ui-widget-content {
	padding: 0 !important;
}

.ui-tabs .ui-tabs-nav, #log, #search-bar {
	height: 5vh;
}

#drop-options {
	width: 100%;
	height: 5vh;
	display: flex;
	flex-direction: row;
}

#drop-dimensions {
	width: 50%;
	display: flex;
	align-items: center;
}

#drop-dimensions input {
	width: 40%;
	text-align: center;
}

#tabs {
	height: 100%;
}

#log {
	justify-self: flex-end;
	align-items: center;
	background: #EBEDEF;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-indent: 0.15rem;
	font-size: 0.75rem;
	font-family: Andale Mono;
}

#log button {
	border: none;
	background: slategray;
	color: lawngreen;
}








@media (max-width: 1093px) {
	.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
		font-size: 1.05vw;
	}
}

@media (max-width: 1000px) {
	.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
		font-size: 1vw;
	}
	#search-pixabay, #pixabay-search, #search-bar label {
		font-size: 1vw !important;
	}
}









